@import "./variables.scss";
@import "./mixins.scss";
@import "./grid.scss";
@import "./typography.scss";

/* MAIN */
body{
	margin: 0;
	padding: 0;
	padding-bottom: 60px;
	background-color: $bg;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

/* header */
header{
	@extend .padding-60;
	background-color: $primary;

	h1{
		color: $bg;
	}
}
/* FORM */

form{
	.input-group{
		@extend .padding-20;
		width: 90%;
		margin-right: auto;
		margin-left: auto;

		input{
			@extend .padding-top-10;
			width: 100%;
			border: 0;
			border-bottom: 1px solid $text-secondary;
			background-color: transparent;

			&:focus{
				border:0;
				border-bottom: 2px solid $primary;

			}
			&.ng-touched.ng-invalid{
				border-bottom-color: $error;
			}
		}
	}

	.buttons{
		margin-top: 30px;
		.btn{
			float: right;

			&:last-child:after{
				content:'';
				display: block;
				overflow: clear;
			}
		}
	}
	
}

textarea:focus, input:focus{
	outline: none;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}

/* Buttons */
.btn{
	text-transform: uppercase;
	padding: 8px 12px;
	border: 0;
	background-color: transparent;
	margin: 0 5px;

	&.primary{
		background-color: $primary;
		color: white;
	}
}

/* Contact List*/
.contact-list{
	@extend .padding-top-40;

	ul{
		@extend .padding-bottom-20;

		li{
			@extend .padding-20;

			&:first-child{
				padding-top: 0;
			}
		}

		h2{
			@extend .padding-bottom-10;
		}

		span{
			color: $text-secondary;
			font-size: 14px;
		}
	}
}