/* VARIABLES */
/* Grid */
$container-width: 941px;
$col-margin: 10px;
$padding-sizes: [10, 16, 20, 30, 40, 60, 80];

/* Typography */
$light: 300; $regular: 400; $medium: 500; $semi-bold: 600; $bold: 700;
$font-sizes: [16, 12, 14, 20, 13];


/* Colors */
$primary: #66bb6a;
$error: red;
$bg: #fff;
$text: #000;
$text-secondary: #979696;

