/* Grid */
$container-width: 942px;
$col-margin: 10px;
$padding-sizes: [10, 16, 20, 30, 40, 80];

/* Typography */
$font-family: "Open Sans";
$font-weights: [400, 300, 600, 700];
$font-sizes: [16, 12, 14, 20, 13];


/* Colors */
$header-grey: #eeeeee;
$footer-grey: #c9c9c9;
$text-grey: #898989;
$orange: #f7941e;
$pink: #ec007a;
$blue: #20b7ce;


